.inputWrapper {
  width: min(400px, 100%);
}

.input {
  width: 100%;
  background: rgba(255, 255, 255, 0.15);
  border: none;
  padding: 12px 12px 12px 40px;
  border-radius: 20px;
  color: white;
  outline: none;
}

.input:focus {
  background: rgba(255, 255, 255, 0.25);
}

.input::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

@media (max-width: 900px) {
  .inputWrapper {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .input {
    padding: 10px 12px 10px 36px;
    border-radius: 16px;
    font-size: 14px;
  }
}
